reduser/.flows_watkins.local.json.backup
[{"type":"tab","label":"Dynamorse","id":"70227ca8.8fdd84"},{"id":"f089bf72.0f764","type":"device","nmos_id":"8e9057bb-46c5-4968-9cbc-f116f4a2b936","version":"1464477622:12680200","nmos_type":"urn:x-nmos:device:generic","nmos_label":"device-watkins-22814","node_id":"c5135b9b-908c-4314-ad37-a62ee05ef432","node_ref":"d8044477.27fbb8"},{"id":"da7405b8.258bf8","type":"device","nmos_id":"74682621-02e1-49df-9f33-b4575fc24b51","version":"1464477622:13161609","nmos_type":"urn:x-nmos:device:pipeline","nmos_label":"pipelines-watkins-22814","node_id":"c5135b9b-908c-4314-ad37-a62ee05ef432","node_ref":"d8044477.27fbb8"},{"id":"d8044477.27fbb8","type":"self","nmos_id":"c5135b9b-908c-4314-ad37-a62ee05ef432","version":"1464477622:11652464","nmos_label":"Dynamorse watkins 22814","href":"http://dynamorse-watkins-22814.local:3001","hostname":"watkins.local"},{"id":"30fb5980.cf04a6","type":"rtp-ext","name":"rtp-extensions-default","origin_timestamp_id":1,"smpte_tc_id":2,"smpte_tc_param":"3600@90000/25","flow_id_id":3,"source_id_id":4,"grain_flags_id":5,"sync_timestamp_id":7,"grain_duration_id":9,"ts_refclk":"ptp=IEEE1588-2008:dd-a9-3e-5d-c7-28-28-dc"},{"id":"5a4b155f.a5b4ec","type":"comment","z":"70227ca8.8fdd84","name":"Streampunk Media","info":"Design and deploy professional media workflows with _Dynamorse_.","x":122,"y":45,"wires":[]},{"id":"292bbe6e.3e1da2","type":"wav-in","z":"70227ca8.8fdd84","name":"","file":"/Users/vizigoth/Downloads/127966__midengine4life__2472.wav","description":"","device":"da7405b8.258bf8","loop":false,"grps":25,"maxBuffer":10,"x":224,"y":218,"wires":[["113dd59b.d8c89a"]]},{"id":"113dd59b.d8c89a","type":"nmos-rtp-out","z":"70227ca8.8fdd84","name":"","address":"225.6.7.8","port":5001,"ttl":127,"payloadType":96,"timeout":"0","x":461,"y":223,"wires":[]}]