reduser/.flows_watkins.local.json.backup
[{"type":"tab","label":"Dynamorse","id":"bf61cb4b.409e38"},{"id":"cc577e3e.33a88","type":"comment","z":"bf61cb4b.409e38","name":"Streampunk Media","info":"Design and deploy professional media workflows with _Dynamorse_.","x":122,"y":45,"wires":[]},{"id":"3ec531c7.64d8ae","type":"wav-in","z":"bf61cb4b.409e38","name":"","file":"/Users/vizigoth/Downloads/127966__midengine4life__2472.wav","description":"","device":"da7405b8.258bf8","loop":false,"grps":25,"maxBuffer":10,"x":170,"y":186,"wires":[["36172de7.d23fb2"]]},{"id":"36172de7.d23fb2","type":"nmos-rtp-out","z":"bf61cb4b.409e38","name":"","description":"","address":"225.6.7.8","port":5001,"ttl":127,"netif":"","payloadType":96,"timeout":"40","x":505,"y":183,"wires":[]},{"id":"eb4f1a84.a3c4d8","type":"nmos-rtp-in","z":"bf61cb4b.409e38","name":"","maxBuffer":10,"description":"","device":"da7405b8.258bf8","sender":"","sdpURL":"file:audio.sdp","regenerate":false,"x":185,"y":325,"wires":[["90a15a0a.e7e3f8"]]},{"id":"90a15a0a.e7e3f8","type":"grain-xray","z":"bf61cb4b.409e38","showEvery":1,"toConsole":false,"name":"","maxBuffer":10,"x":367,"y":327,"wires":[["67b026f7.60c3b8"]]},{"id":"67b026f7.60c3b8","type":"wav-out","z":"bf61cb4b.409e38","name":"","file":"dynamorse.wav","timeout":0,"x":546,"y":324,"wires":[]},{"id":"f089bf72.0f764","type":"device","nmos_id":"adbe4793-980c-4e56-b1f2-89afadb77530","version":"1464612204:13596917","nmos_label":"device-watkins-56453","nmos_type":"urn:x-nmos:device:generic","node_id":"216d74a5-10e6-422e-a3dc-a09298b788ab","node_ref":"d8044477.27fbb8"},{"id":"da7405b8.258bf8","type":"device","nmos_id":"987f5dcb-7e6a-4efe-b27d-056d6628b9b5","version":"1464612204:14134041","nmos_label":"pipelines-watkins-56453","nmos_type":"urn:x-nmos:device:pipeline","node_id":"216d74a5-10e6-422e-a3dc-a09298b788ab","node_ref":"d8044477.27fbb8"},{"id":"d8044477.27fbb8","type":"self","nmos_id":"216d74a5-10e6-422e-a3dc-a09298b788ab","version":"1464612204:12379579","nmos_label":"Dynamorse watkins 56453","href":"http://dynamorse-watkins-56453.local:3001","hostname":"watkins.local","nodeAPI":{}},{"id":"30fb5980.cf04a6","type":"rtp-ext","name":"rtp-extensions-default","origin_timestamp_id":1,"smpte_tc_id":2,"smpte_tc_param":"3600@90000/25","flow_id_id":3,"source_id_id":4,"grain_flags_id":5,"sync_timestamp_id":7,"grain_duration_id":9,"ts_refclk":"ptp=IEEE1588-2008:dd-a9-3e-5d-c7-28-28-dc"}]