reduser/.flows_watkins.local.json.backup
[{"type":"tab","label":"Dynamorse","id":"b51373a.f4aec9"},{"id":"6680b939.997f48","type":"comment","z":"b51373a.f4aec9","name":"Streampunk Media","info":"Design and deploy professional media workflows with _Dynamorse_.","x":122,"y":45,"wires":[]},{"id":"d11bf78b.281878","type":"pcap-reader","z":"b51373a.f4aec9","name":"","file":"/Users/vizigoth/Documents/streampunk/nmos-in-stream-id-timing/examples/pcap/rtp-video-rfc4175-1080i50.pcap","loop":false,"regenerate":false,"format":"video","description":"","device":"da7405b8.258bf8","sdpURL":"file:/Users/vizigoth/Documents/Streampunk/nmos-in-stream-id-timing/examples/sdp/sdp_rfc4175_10bit_1080i50.sdp","encodingName":"raw","clockRate":90000,"sampling":"YCbCr-4:2:2","width":1920,"height":1080,"depth":8,"colorimetry":"BT709-2","interlace":false,"packing":"pgroup","channels":0,"bitrate":0,"maxBuffer":10,"x":176,"y":308,"wires":[["4edd7f03.fda37"]]},{"id":"4edd7f03.fda37","type":"nmos-rtp-out","z":"b51373a.f4aec9","name":"","address":"225.6.7.8","port":5001,"ttl":127,"payloadType":96,"x":434,"y":339,"wires":[]},{"id":"f089bf72.0f764","type":"device","nmos_id":"2efadef2-3dc1-4595-a97e-bc75a06ca238","version":"1464372885:12562664","nmos_label":"device-watkins-12035","nmos_type":"urn:x-nmos:device:generic","node_id":"db8f3f36-70be-4caf-9408-22aa73397592","node_ref":"d8044477.27fbb8"},{"id":"da7405b8.258bf8","type":"device","nmos_id":"3d72baab-241d-47c0-92c1-aeddb37b943c","version":"1464372885:13040178","nmos_label":"pipelines-watkins-12035","nmos_type":"urn:x-nmos:device:pipeline","node_id":"db8f3f36-70be-4caf-9408-22aa73397592","node_ref":"d8044477.27fbb8"},{"id":"d8044477.27fbb8","type":"self","nmos_id":"db8f3f36-70be-4caf-9408-22aa73397592","version":"1464372885:11546475","nmos_label":"Dynamorse watkins 12035","href":"http://dynamorse-watkins-12035.local:3001","hostname":"watkins.local","nodeAPI":{}},{"id":"30fb5980.cf04a6","type":"rtp-ext","name":"rtp-extensions-default","origin_timestamp_id":1,"smpte_tc_id":2,"smpte_tc_param":"3600@90000/25","flow_id_id":3,"source_id_id":4,"grain_flags_id":5,"sync_timestamp_id":7,"grain_duration_id":9,"ts_refclk":"ptp=IEEE1588-2008:dd-a9-3e-5d-c7-28-28-dc"}]